<section class="loginSection">
    <div class="contentBox">
        <div class="formBox">
            <h4 class="mb-4">Your Fitness Tracker</h4>
             <form [formGroup]="multiStepForm" class="registerForm" (ngSubmit)="register()">
                <div fxLayout="column">
                    <ng-container *ngIf="step==1" formGroupName="userForm">
                        <mat-form-field color="primary" appearance="outline" class="loginFormField">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field color="primary" appearance="outline" class="loginFormField">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required>
                        </mat-form-field>
                        <div class="passwordFormWrapper">
                            <mat-form-field appearance="outline" class="loginFormField">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" type="password" #password required>
                            </mat-form-field>
                        </div>
                        <div class="passwordFormWrapper">
                            <mat-form-field appearance="outline" class="loginFormField">
                                <mat-label>Confirm password</mat-label>
                                <input matInput formControlName="confirmPassword" type="password" #confirmPassword required>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="step==2" formGroupName="healthDataForm">
                        <mat-form-field appearance="outline" class="loginFormField">
                            <mat-label>Age</mat-label>
                            <input matInput formControlName="age" type="text" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="loginFormField">
                            <mat-label>Height (cm)</mat-label>
                            <input matInput formControlName="height" type="text" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="loginFormField">
                            <mat-label>Weight (kg)</mat-label>
                            <input matInput formControlName="weight" type="text" required>
                        </mat-form-field>
                    </ng-container>
                    <p class="hint mb-3">* Enter all fields to register</p>
                    <button  *ngIf="step==2 && this.multiStepForm.valid" mat-flat-button color="primary" class="login-button">
                        <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" *ngIf="(authService.isAuthenticatingLoader$) | async"></fa-icon>
                        Register
                    </button>
                    <button *ngIf="step==1" (click)="changeStep('forward')" mat-flat-button color="primary" class="login-button">
                        Next
                    </button>
                    <button *ngIf="step==2 && !this.multiStepForm.valid"  (click)="changeStep('back')" mat-flat-button color="primary" class="login-button">
                        Previous
                    </button>
                </div>
            </form>
            <div class="loginLinks pt-3" [routerLink]="['/auth/login']"> Back to login</div>
        </div>
    </div>
</section>