<div class="cardContent mx-4 mb-3">
    <div class="row workoutsRow mx-0">
      <ng-container *ngFor="let workout of workouts | async">
        <div class="col-12 px-0">
          <app-workouts-card [planView]="false" [hasExpand]="false" [hasEdit]="true" [workout]='workout'></app-workouts-card>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="workouts.value.length==0">
    <div class="emptyCard mx-4" (click)="addWorkout()">
        Add new workout
    </div>
  </ng-container>