<!-- 
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Date' | translate }} </th>
        <td mat-cell *matCellDef="let progress"> {{progess.d}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Value' | translate }} </th>
        <td mat-cell *matCellDef="let progress"> {{progess.val}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Type' | translate }} </th>
        <td mat-cell *matCellDef="let progress"> {{progess.t}} </td>
    </ng-container>
</table>
<mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator> -->