<div class="content p-0 m-0">
    <mat-card>
      <div class="headerBox routableCard">
        <div class="cardHeaderContent flex">
            <div class="align-self-center align-icon-center icon">
                <img src="../../../../assets/imgs/run.png">
            </div>
            <div class="mainInfo mx-3 mt-2 mb-4">
                Running
            </div>
        </div>
      </div>
      <div class="infoBox routableCard">
        <div class="cardInfoText">

            <div class="flexBox">
                <div class="flexLeft">
                    <div class="subInfoText">
                        <h2 class='secondaryInfo m-0 mb-2'>{{ 'Sets' | translate }}:<div class="highlight">0</div></h2>
                    </div>
                    <div class="subInfoText">
                        <h2 class='secondaryInfo m-0 mb-2'>{{ 'Goal reps' | translate }}:<div class="highlight">10</div></h2>
                    </div>
                    <div class="subInfoText">
                        <h2 class='secondaryInfo m-0 mb-2'>{{ 'Goal time' | translate }}:<div class="highlight">10 min</div></h2>
                    </div>
                </div>

                <div class="flexRight">
                    <div class="subInfoText">
                        <h2 class='secondaryInfo m-0 mb-2'>{{ 'Goal weight' | translate }}:<div class="highlight">50 kg</div></h2>
                    </div>
                    <div class="subInfoText">
                        <h2 class='secondaryInfo m-0 mb-2'>{{ 'Goal distance' | translate }}:<div class="highlight">10 km</div></h2>
                    </div>
                </div>
            </div>

            <div class="subInfoText">
                <h2 class='secondaryInfo m-0 mb-2 mt-3'>{{ 'Video' | translate}}: <a target="_blank" href="https://www.youtube.com/watch?v=5umbf4ps0GQ" class="highlight videoLink">https://www.youtube.com/watch?v=5umbf4ps0GQ</a></h2>
            </div>

        </div>
      </div>
      <div class="bottomBox" *ngIf="!planView">
        <button color="primary"  *ngIf="hasEdit" (click)="editExercise()" class="bottomButton mt-3" mat-button>
            <i class="fa fa-edit" class="mr-2" aria-hidden="true"> </i>
            {{ 'Edit' | translate}}
        </button>
        <button color="primary" *ngIf="!workoutView && !planView" (click)="deleteExercise()" class="bottomButton mt-3" mat-button>
            <i class="fa fa-remove" class="mr-2" aria-hidden="true"> </i>
            {{ 'Delete' | translate}}
        </button>
        <button color="primary" *ngIf="workoutView" (click)="removeExerciseFromWorkout()" class="bottomButton mt-3" mat-button>
            <i class="fa fa-remove" class="mr-2" aria-hidden="true"> </i>
            {{ 'Remove' | translate}}
        </button>
    </div>
    </mat-card>
  </div>