<h1 mat-dialog-title>Edit exercise details</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Sets</mat-label>
    <input matInput [(ngModel)]="sets"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Goal</mat-label>
    <input matInput [(ngModel)]="goal"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Guide URL</mat-label>
    <input matInput [(ngModel)]="url" />
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
