<div class="row workoutsRow mx-0 mb-5">

    <!-- <ng-container *ngFor="let exercise of plan.workouts | async">
        <div class="col-12 px-0">
        <app-workouts-card [hasDelete]="true" [parentPlan]="plan" [planView]="true" [hasEdit]="false" [hasExpand]="true"></app-workouts-card>
        </div>
    </ng-container> -->

    <ng-container>
        <div class="col-12 px-0">
        <app-workouts-card [hasDelete]="true" [planView]="true" [hasEdit]="false" [hasExpand]="true"></app-workouts-card>
        </div>
    </ng-container>
</div>