<h1 mat-dialog-title>Choose an exercise to add to workout</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Choose exercise</mat-label>
    <mat-select [(value)]="selectedExercise">
      <mat-option *ngFor="let exercise of exercises | async" [value]="exercise">
        {{exercise.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="add()" cdkFocusInitial>Add</button>
</div>
