<h1 mat-dialog-title>Edit profile information</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput  [(ngModel)]="name"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Photo Url</mat-label>
    <input matInput  [(ngModel)]="photoUrl"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <input matInput  [(ngModel)]="age"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Height</mat-label>
    <input matInput  [(ngModel)]="height"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput  [(ngModel)]="weight"/>
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
