<div class="col-lg-6 col-md-6 col-sm-12 containerAccount p-4 px-5" [class.ml-4]="!(responsiveListenerService.isHandset$ | async)">

  <div class="leftBlock">
    <img
      src="//s3-us-west-2.amazonaws.com/s.cdpn.io/55758/random-user-31.jpg"
      alt=""
    />
  </div>

  <div class="rightBlock ml-4 py-2" [class.ml-4]="!(responsiveListenerService.isHandset$ | async)" [class.mt-4]="(responsiveListenerService.isHandset$ | async)">
    <div class="info">
      <div class="name">Angela Sotirovska</div>
      <div class="email">angelasotirkata@gmail.com</div>
    </div>

    <div class="extraInfo mt-3">
      <div class="infoDetails">Age: <div class="coloredInfo">23</div></div>
      <div class="infoDetails">Weight: <div class="coloredInfo">50kg</div></div>
      <div class="infoDetails">Height: <div class="coloredInfo">173cm</div></div>
    </div>

    <button class="button mt-4" mat-flat-button (click)="editProfile()">Edit profile</button>
  </div>
</div>

