@use '@angular/material' as mat;
@import '~@angular/material/theming';

@font-face {
    font-family: "Sora";
    font-display: block;
    src: local("Sora"), url(./assets/fonts/Sora-Regular.ttf) format("ttf");
}

$custom-typography: mat-typography-config(
  $font-family: 'Sora',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400, $letter-spacing: -0.02em),
  $headline:      mat-typography-level(24px, 32px, 400, $letter-spacing: -0.02em),
  $title:         mat-typography-level(20px, 32px, 500, $letter-spacing: -0.02em),
  $subheading-2:  mat-typography-level(16px, 28px, 400, $letter-spacing: -0.02em),
  $subheading-1:  mat-typography-level(15px, 24px, 400, $letter-spacing: -0.02em),
  $body-2:        mat-typography-level(14px, 24px, 500, $letter-spacing: -0.02em),
  $body-1:        mat-typography-level(14px, 20px, 400, $letter-spacing: -0.02em),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);
@include mat.core($custom-typography);

html,body{
    padding: 0px;
    margin: 0px;
}

.flexBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mat-list-base .mat-list-item {
    color: rgb(225 225 225 / 87%);
}

.loginSection{

    .mat-form-field-wrapper {
        padding-bottom: 0.7rem;
    }

    font-size: 13px!important;
    box-sizing: border-box;
    position: relative;
    width: 100%!important;
    height: 100vh;
    display:flex;
    border-radius: 50px;

    .orText, .loginLinks, .rememberMe {
        color:rgb(255, 255, 255, 0.6);
    }

    .loginLinks{
        cursor: pointer;
        font-size: 13px;
    }
    
    h4{
        color: white;
    }
    
    .linkFlexBox{
        display: flex;
        align-items: center;
    }
    
    .imgBox{
        position: absolute!important;
        top:0!important;
        right:0!important;
        width: 100%!important;
        height: 100%!important;
    } 

    .contentBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%!important;
        z-index: 1!important;
        background: none!important;
    }  

    .contentBox .formBox{
        width: fit-content!important;
        padding: 60px;
        background: #0D1921!important;
        margin: 50px;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .imgBox img{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .contentBox .formBox .melinoLogoLogin{
        display: inline-block;
        width: 150px;
    }
    
    .login-button {
        background-color: #8aff88;
        color: rgb(0, 0, 0);
        margin: 5px 0!important;
    }
    
    .contentBox .formBox .smallerlogo{
        font-weight: 600;
        font-size: 1.5em;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 1px;
        max-width: 100px;
    }
    
    .mat-icon.mat-icon-inline{
        font-size: medium!important;
        color: white;
    }

    label{
        margin-bottom: 0px;
    }

    .registerLink{
        color:#8aff88;
        cursor: pointer;
    }
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #8aff88;
}

mat-button{
    color: #8aff88;
}

mat-checkbox{
    .mat-checkbox-inner-container {
        width: 12px;
        height: 12px;
    }
    
    label{
        margin-bottom: 0px;
    }
}

.mat-checkbox-indeterminate, .mat-checkbox-background, .mat-accent, .mat-checkbox-checked {
    svg path {
        fill: transparent !important;
    }
}

.mat-checkbox-frame { 
    border-color: rgb(255 255 255 / 73%)!important;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #8aff88;
}

.mat-checkbox-checkmark-path {
    stroke: #000000 !important;
}

.mat-form-field {
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-outline{
        color: rgb(255 255 255 / 73%)
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
}

.mat-form-field.mat-focused{
    .mat-form-field-outline, .mat-form-field-label{
        color: #8aff88;
    }
}

.mat-list-base .mat-list-item {
    font-size: 17px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 74px;
}

a.mat-list-item.active, a.mat-list-item.active:hover, a.mat-list-item.active:focus{
    background-color: #3c4a4c;
}

.mat-list-base {
    padding-top: 12px!important;
}

.mat-menu-panel{
    background-color: #141514;
}

.mat-menu-item{
    color: rgba(225, 225, 225, 0.87);
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #8aff88;
}