<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 left p-0 m-0">
    <div class="ml-5 title mb-3">Statistics: </div>
    <div class="ml-5 mb-4 mr-5">
      <app-pie-chart-square [allData]="dataOtherEvents"></app-pie-chart-square>
    </div>
    <div class="ml-5 mr-5">
      <app-line-chart
        [allData]="dataFluctuation"
        [months]="months"
      ></app-line-chart>
    </div>
  </div>
  <div class="col-8 p-0 m-0">
    <div class="title mb-3 ml-4">Progresses: </div>
    <app-progress-list></app-progress-list>
  </div>
</div>