.cardContent{
    background-color: rgb(0 0 0 / 79%);
    border-radius: 10px;
}

.workoutTitle{
    color:white;
    font-size: 20px;
}

.editIcon, .plusIcon, .deleteButton{
    color: #8aff88;
    cursor: pointer;
}

.plusIcon{
    font-size: 50px;
}

.plusCard, .expandButton{
    cursor: pointer;
}

.expandButton{
    color: white;
}

.addCard{
    background-color: rgb(0 0 0 / 79%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    min-height: 285px;
}

.cancelButton, i{
    color: #8aff88;
    cursor: pointer;
}

.flexWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center!important;
}

.flex{
    display: flex;

}

.centerEmpty{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}