<div class="cardContent p-4">
    <div class="flexWrapper">
        <div class="workoutTitle" [class.mb-3]="hasEdit == true">Cardio workout</div>
        <ng-container *ngIf="hasEdit == true">
            <div *ngIf="!workoutService.editMode.value" class="editIcon" (click)="editMode()"> <i [class]="editIcon" class="mr-2" aria-hidden="true"> </i></div>
            <div class="flex" *ngIf="workoutService.editMode.value">
              <div class="cancelButton" (click)="editMode()">Cancel</div>
              <div class="editIcon">
                <i [class]="deleteIcon" class="deleteButton" (click)="deleteWorkout()" class="ml-3 mr-2" aria-hidden="true"> </i>
              </div>
            </div>
        </ng-container>
        <div *ngIf="parentPlan" class="flex">
          <ng-container *ngIf="hasEdit == false && hasExpand == true">
            <div *ngIf="!(expanded | async)" class="expandButton" (click)="toggleExpand()"> <i [class]="expandButton" class="mr-2" aria-hidden="true"> </i> </div>
            <div *ngIf="(expanded | async)" class="expandButton" (click)="toggleExpand()"> <i [class]="unexpandButton" class="mr-2" aria-hidden="true"> </i> </div>
          </ng-container>
          <ng-container *ngIf="hasDelete == true">
            <div class="editIcon">
              <i [class]="deleteIcon" class="deleteButton" (click)="removeWorkoutFromPlan()" class="ml-3 mr-2" aria-hidden="true"> </i>
            </div>
        </ng-container>
       </div>
    </div>
    <div *ngIf="(expanded | async) || planView == false" class="row workoutsRow mx-0">
      <ng-container *ngFor="let exercise of exercises | async">
        <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 pb-2 px-0 m-0" [class.pr-2]="!(responsiveListenerService.isHandset$ | async)">
          <app-exercises-card [parenWorkout]="workout" [workoutView]="true" [planView]="planView" [hasEdit]='false' [hasRemove]="true" [exercise]='exercise'></app-exercises-card>
        </div>
      </ng-container>
      
      <ng-container *ngIf="workoutService.editMode.value">
        <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 pb-2 px-0 m-0 plusCard" (click)="addExcercisesToWorkout()" [class.pr-2]="!(responsiveListenerService.isHandset$ | async)">
          <mat-card class="addCard">
            <i [class]="plusIcon" class="plusIcon" aria-hidden="true"> </i>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>

